@using Bistronger.Models.Menus

@model MenuCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Aanmaken</h1>

<h4>Menu</h4>
<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group col-md-3 pl-0">
				<label asp-for="Name" class="control-label">Naam</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Aanmaken" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
    <a asp-action="Index">Terug naar overzicht</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	
}
