@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Persoonlijke gegevens";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Uw profiel bevat gevoelige data die u aan ons hebt toevertrouwd. Op deze pagina kan u al uw gegevens opvragen, of heel uw profiel verwijderen.</p>
        <p>
            <strong>Deze gegevens verwijderen is onomkeerbaar.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Downloaden</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Verwijderen</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
