@{
    ViewData["Title"] = "Over ons";
}

    <div class="text-center">
        <h2 style="padding:30px;">@ViewData["Title"]</h2>

        <p>
            Startup die tafelreservaties in jouw favoriete bistros sneller dan ooit maakt <br />
            Als de Covid maatregelen de heropening van bistros toelaten kan je met de klik van een muis je tafel reserveren!
        </p>
    </div>
  