@{
    ViewData["Title"] = "Contact";
}

    <div class="text-center">
        <h2 style="padding:30px;">@ViewData["Title"]</h2>
        <p>
            Bistronger HQ<br />
            Jovisaslaan 17<br />
            2000 Antwerpen<br />
            Email: Bistronger.info@gmail.com<br />
            Social media links onderaan de pagina
        </p>
    </div>
