@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h2 style="padding:30px;">@ViewData["Title"]</h2>

    <p>Gebruik deze pagina om de details van de privacy policy uit te schrijven</p>
</div>
