@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Wachtwoord vergeten bevestiging";
}

<h1>@ViewData["Title"]</h1>
<p>
    Gelieve uw mail na te kijken om uw wachtwoord te veranderen.
</p>

