@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Wachtwoord reset bevestiging";
}

<h1>@ViewData["Title"]</h1>
<p>
    Uw wachtwoord is gereset. <a asp-page="./Login">Klik hier</a> om in te loggen.
</p>
