@{
    ViewData["Title"] = "Onder Constructie";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>Onder Constructie</title>
</head>
<body>
    <div>
        <center>
            <img src="~/res/img/UnderConstruction.png" alt="Onder Constructie" height="500">
            <h1>We werken nog aan deze pagina!</h1>
            <h4>
                <small class="text-muted">Onder Constructie</small>
            </h4>

            <div class="btn-group-vertical">
                <a href="#" onclick="history.go(-1)" class="btn btn-outline-primary">
                    Ga Terug
                </a>
                <br />
                <a asp-action="index" asp-controller="home" class="btn btn-outline-primary">
                    Home
                </a>
            </div>
        </center>
    </div>
</body>
</html>